extends ../layout

block content
  .wrapper: .checkout.container: .content
    header
      h1 Hi, #[br] 
      p Please choose PayPal or a card
      p #{_amount}
    form#payment-form(action="/checkouts", method="post")
      section
        label(for="amount")
          span.input-label Amount
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" readonly value=_amount)

        .bt-drop-in-wrapper
          #bt-dropin

      input#nonce(type="hidden" name="payment_method_nonce")
      button.button(type="submit")
        span Pay Now

  span(hidden id="client-token")=clientToken

  script(src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js")
  script(type="text/javascript", src="/javascript/demo.js")


//- http://localhost:3000/checkouts/new/?amount=20&uid=5&pid=19
