doctype html
html
  head
    title Guest Guide Book
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel="stylesheet", href="/stylesheets/overrides.css")
    script(src="/javascript/redirect.js")
  body
    header.main
      .container.wide
        .content.slim
          .set
            .fill
              //- a.pseudoshop(href='https://guest-guide-book.netlify.app/packages') Guest Guide Book Payment Processor
              img(src='https://guest-guide-book.netlify.app/images/logo.jpg' alt='Guest Guide Book' width="200px")
            
           

      .notice-wrapper
        if messages && messages.length > 0
          .show.notice.error.notice-error
            for msg in messages
              span.notice-message= msg.msg

    block content
